<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="loading">
<script th:inline="javascript">
function openLoading(){
	$('.valid-err').remove();
	$('.loading').show();
}

function closeLoading(){
	$('.loading').hide();
}
</script>
	<div class="loading">
		<div class="loading-main">
			<div class="loading-line"></div>
			<div class="loading-line"></div>
			<div class="loading-line"></div>
			<div class="loading-circle"></div>
		</div>
	</div>


</body>
</html>
