<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>
<body th:fragment="permission_menu">
  <div class="page page-menu-management">

	<h6 id="permission" class="heading-small text-muted mb-4">權限類型[[${roleName != null ? '(角色：' + roleName + ')' : ''}]]</h6>

	<div class="flip" th:each="menu, i : ${vos}">
	    <div class="flip__header">
	        <div class="flip__header-text" th:text="${menu.name}">
	        </div>
	        <div class="flip__header-checkboxall">
	            <div class="checkbox-box" th:if="${roleName != null}">
	                <input class="checkbox-box__input flip-checkboxall flip-checkboxall--false" type="checkbox" th:id="'menuN' + ${menu.menuId}">
	                <label class="checkbox-box__text" th:for="'menuN' + ${menu.menuId}">停用</label>
	            </div>
	            <div class="checkbox-box">
	                <input class="checkbox-box__input flip-checkboxall flip-checkboxall--true" type="checkbox" th:id="'menuY' + ${menu.menuId}">
	                <label class="checkbox-box__text" th:for="'menuY' + ${menu.menuId}">啟用</label>
	            </div>
	        </div>
	    </div>
	    <div class="flip__panel">
	        <div class="flip__panel-items">
	            <div class="flip__panel-item"  th:each="program, j : ${menu.subVos}">
	                <div class="flip__panel-itemtext">
	                    <span class="flip__panel-text" th:utext="${program.name + (program.statusName != null ? '&nbsp;&nbsp;(' + program.statusName + ')' : '')}"></span>
	                </div>
	                <div class="flip__panel-itemcheckbox">
	                    <div class="checkbox-box" th:if="${roleName != null}">
	                        <input class="checkbox-box__input flip-checkbox flip-checkbox--false" type="checkbox" th:id="'programN' + ${program.programId}" th:name="'offPrograms[' + ${i.index} +'][' + ${j.index} + ']'" th:value="${program.programId}" th:checked="${program.permission != null ? not program.permission : null}">
	                        <label class="checkbox-box__text" th:for="'programN' + ${program.programId}">停用</label>
	                    </div>
	                    <div class="checkbox-box">
	                        <input class="checkbox-box__input flip-checkbox flip-checkbox--true" type="checkbox" th:id="'programY' + ${program.programId}" th:name="'onPrograms[' + ${i.index} +'][' + ${j.index} + ']'" th:value="${program.programId}" th:checked="${program.permission}">
	                        <label class="checkbox-box__text" th:for="'programY' + ${program.programId}">啟用</label>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<script th:inline="javascript">
		
		$(function() {
		    $('.flip-checkboxall').on('click', function(e) {
		        if ($(this).hasClass('flip-checkboxall--true')) {
		        	 $(this).closest('.flip').find('.flip-checkbox--true').prop('checked', this.checked);
		            if (this.checked) {
		            	 $(this).closest('.flip').find('.flip-checkboxall--false,.flip-checkbox--false').prop('checked', false);
		            }
		        } else {
		        	$(this).closest('.flip').find('.flip-checkbox--false').prop('checked', this.checked);
		            if (this.checked) {
		            	$(this).closest('.flip').find('.flip-checkboxall--true,.flip-checkbox--true').prop('checked', false);
		            }
		        }

		    });

		    $('.flip-checkbox').on('change', function(e) {
		    	let $flip = $(this).closest('.flip');
		    	let $checkboxallFalse = $flip.find('.flip-checkboxall--false');
		    	console.log($checkboxallFalse);
		    	let $checkboxallTrue = $flip.find('.flip-checkboxall--true');
		        if ($(this).hasClass('flip-checkbox--true')) {
			    	let $checkbox = $flip.find('.flip-checkbox--true');
		            let checked = $checkbox.filter(':checked').length == $checkbox.length;
		            if (this.checked) {
		                $(this).closest('.flip__panel-itemcheckbox').find('.flip-checkbox--false').prop("checked", false);
		                $checkboxallFalse.prop("checked", false);
		            }
		            $checkboxallTrue.prop("checked", checked);
		        } else {
			    	let $checkbox = $flip.find('.flip-checkbox--false');
			    	let checked = $checkbox.filter(':checked').length == $checkbox.length;
		            if (this.checked) {
		                $(this).closest('.flip__panel-itemcheckbox').find('.flip-checkbox--true').prop('checked', false);
		                $checkboxallTrue.prop('checked', false);
		            }
		            $checkboxallFalse.prop('checked', checked);
		        }

		    });
		    
		    $('.flip-checkbox').change();
		});
	</script>

  </div>
</body>
</html>