<!DOCTYPE html>
<html lang="zh-Hans-TW" xmlns:th="http://www.thymeleaf.org">
<head th:include="components/head :: head">
</head>
<script th:inline="javascript">
</script>
<body class="page page-logout">

	<div class="logoutPage">
		<div class="logoutPage__item logoutPage__item1"></div>
		<div class="logoutPage__item logoutPage__item2"></div>
		<div class="logoutPage__item logoutPage__item3"></div>
		<div class="logoutPage__item logoutPage__item4"></div>	
		<div class="logoutPage__content">
			<p class="logoutPage__content--title">
				<span class="breath">歡迎再度使用...</span>
			</p>
            <p class="logoutPage__content--text">您已成功登出</p>
		</div>
	</div>
</body>
</html>